[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[requires]
python_version = "3.6"

[scripts]
enable-rise = "bash -c 'jupyter-nbextension install rise --py --sys-prefix && jupyter-nbextension enable rise --py --sys-prefix'"
disable-rise = "bash -c 'jupyter-nbextension disable rise --py --sys-prefix && jupyter-nbextension uninstall rise --py --sys-prefix'"

[packages]
jupyter = ">=1.0.0"
rise = ">=5.2.0"

[dev-packages]
