/* Default font color for entire RISE presentation */
.rise-enabled,
.rise-enabled .reveal .rendered_html,
.rise-enabled .reveal .output_area pre {
  color: #EEE !important;
}
.rise-enabled .reveal .rendered_html .hl {
  color: #FFD;
  text-shadow: 0 0 24px #CC9;
}
.rise-enabled .reveal .rendered_html .cry {
  color: #EBB;
  text-shadow: 0 0 24px #B77;
}

/* Opt for dark background slides */
.rise-enabled .reveal {
  background-color: #171812;
}

/* Make default font size twice as big in RISE presentation mode */
.rise-enabled .reveal .text_cell,
.rise-enabled .reveal .code_cell {
  font-size: 200%;
}

/* Make selected cell border glowing */
.rise-enabled .reveal .selected {
  border-color: #9ecaed;
  border-width: 1px;
  box-shadow: 0 0 8px #9ecaed, inset 0 0 8px #9ecaed;
}

/* Adjusting code cell with border glowing */
.rise-enabled .reveal .code_cell {
  margin-bottom: 6px;
  margin-top: 6px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

/* Reset code inside text cell to default width and color */
.rise-enabled .reveal .rendered_html pre {
  background-color: transparent;
  width: auto;
}
.rise-enabled .reveal .input_area {
  background-color: transparent;
}

/* Code cell input prompt color */
.rise-enabled .reveal .input_prompt {
  color: #BBE;
}

/* Set code cell border color to some dark color */
.rise-enabled .reveal .cm-s-ipython .CodeMirror-sizer,
.rise-enabled .reveal .cm-s-ipython .CodeMirror-sizer > div,
.rise-enabled .reveal .cm-s-ipython .CodeMirror-lines,
.rise-enabled .reveal .CodeMirror .CodeMirror-sizer,
.rise-enabled .reveal .CodeMirror .CodeMirror-sizer > div,
.rise-enabled .reveal .CodeMirror .CodeMirror-lines,
.rise-enabled .reveal code.cm-s-ipython,
.rise-enabled .reveal .input_area {
  border-color: #111;
}

/* Markdown code block mimicks the actual code cell padding */
.rise-enabled .reveal code.cm-s-ipython {
  padding: 0.4em;
}

/* Decrease margins for non-heading items. */
.rise-enabled .reveal .rendered_html * + h1,
.rise-enabled .reveal .rendered_html * + h2,
.rise-enabled .reveal .rendered_html * + h3,
.rise-enabled .reveal .rendered_html * + h4,
.rise-enabled .reveal .rendered_html * + h5,
.rise-enabled .reveal .rendered_html * + h6,
.rise-enabled .reveal .rendered_html * + div,
.rise-enabled .reveal .rendered_html * + ul,
.rise-enabled .reveal .rendered_html * + ol,
.rise-enabled .reveal .rendered_html * + dl
.rise-enabled .reveal .rendered_html * + p {
  margin-bottom: 6px;
  margin-top: 6px;
}
.rise-enabled .reveal .rendered_html h1:first-child,
.rise-enabled .reveal .rendered_html h2:first-child,
.rise-enabled .reveal .rendered_html h3:first-child,
.rise-enabled .reveal .rendered_html h4:first-child,
.rise-enabled .reveal .rendered_html h5:first-child,
.rise-enabled .reveal .rendered_html h6:first-child,
.rise-enabled .reveal .rendered_html div:first-child,
.rise-enabled .reveal .rendered_html p:first-child,
.rise-enabled .reveal .rendered_html ul:first-child,
.rise-enabled .reveal .rendered_html ol:first-child,
.rise-enabled .reveal .rendered_html dl:first-child {
  margin-bottom: 0.75em;
}

/***********************************************************
 * Copied and adapted from Atom One Dark Theme located at
 * https://github.com/Aerobird98/codemirror-one-dark-theme
 ***********************************************************/
.rise-enabled .reveal .rendered_html code,
.rise-enabled .reveal .CodeMirror,
.rise-enabled .reveal .cm-s-ipython.CodeMirror {
  background: #272825;
  color: #f8f8f2;
}
.rise-enabled .reveal .CodeMirror-selected {
  background-color: #3e4451;
}
.rise-enabled .reveal .CodeMirror-gutter,
.rise-enabled .reveal .CodeMirror-gutters {
  border: none;
  background-color: #282c34;
}
.rise-enabled .reveal .CodeMirror-linenumber,
.rise-enabled .reveal .CodeMirror-linenumbers {
  color: #5c6370 !important;
  background-color: transparent;
}
.rise-enabled .reveal .CodeMirror-lines {
  color: #abb2bf !important;
  background-color: transparent;
}
.rise-enabled .reveal .CodeMirror-cursor {
  border-left: 2px solid #56b6c2 !important;
}
.rise-enabled .reveal .CodeMirror-matchingbracket,
.rise-enabled .reveal .CodeMirror-matchingtag {
  border-bottom: 2px solid #56b6c2;
  color: #abb2bf !important;
  background-color: transparent;
}
.rise-enabled .reveal .CodeMirror-nonmatchingbracket {
  border-bottom: 2px solid #e06c75;
  color: #abb2bf !important;
  background-color: transparent;
}
.rise-enabled .reveal .CodeMirror-foldmarker,
.rise-enabled .reveal .CodeMirror-foldgutter,
.rise-enabled .reveal .CodeMirror-foldgutter-open,
.rise-enabled .reveal .CodeMirror-foldgutter-folded {
  border: none;
  text-shadow: none;
  color: #5c6370 !important;
  background-color: transparent;
}
.rise-enabled .reveal .CodeMirror-activeline-background {
  background-color: rgba(153, 187, 255, 0.04);
}
.rise-enabled .reveal .cm-header { color: #e06c75; }
.rise-enabled .reveal .cm-quote { color: #5c6370; font-style: italic; }
.rise-enabled .reveal .cm-negative { color: #e06c75; }
.rise-enabled .reveal .cm-positive { color: #e06c75; }
.rise-enabled .reveal .cm-strong { color: #d19a66; font-weight: bold; }
.rise-enabled .reveal .cm-header .cm-strong { color: #d19a66; font-weight: bold; }
.rise-enabled .reveal .cm-em { color: #c678dd; font-style: italic;}
.rise-enabled .reveal .cm-header .cm-em { color: #c678dd; font-style: italic; }
.rise-enabled .reveal .cm-tag { color: #e06c75; }
.rise-enabled .reveal .cm-attribute { color: #d19a66; }
.rise-enabled .reveal .cm-link { color: #98c379; border-bottom: solid 1px #98c379; }
.rise-enabled .reveal .cm-builtin { color: #e06c75; }
.rise-enabled .reveal .cm-keyword { color: #c678dd; }
.rise-enabled .reveal .cm-def { color: #e5c07b; }
.rise-enabled .reveal .cm-atom { color: #d19a66; }
.rise-enabled .reveal .cm-number { color: #d19a66; }
.rise-enabled .reveal .cm-property { color: #56b6c2; }
.rise-enabled .reveal .cm-qualifier { color: #d19a66; }
.rise-enabled .reveal .cm-variable { color: #e06c75; }
.rise-enabled .reveal .cm-variable-2 { color: #4cc055; }
.rise-enabled .reveal .cm-string { color: #98c379; }
.rise-enabled .reveal .cm-punctuation { color: #abb2bf; }
.rise-enabled .reveal .cm-operator { color: #56b6c2; }
.rise-enabled .reveal .cm-meta { color: #abb2bf; }
.rise-enabled .reveal .cm-bracket { color: #abb2bf; }
.rise-enabled .reveal .cm-comment { color: #5c6370; font-style: italic; }
.rise-enabled .reveal .cm-error { color: #e06c75; }
.rise-enabled .reveal .cm-m-css.cm-variable { color: #828997; }
.rise-enabled .reveal .cm-m-css.cm-property { color: #abb2bf; }
.rise-enabled .reveal .cm-m-css.cm-atom { color: #56b6c2; }
.rise-enabled .reveal .cm-m-css.cm-builtin { color: #56b6c2; }
.rise-enabled .reveal .cm-m-lua.cm-variable { color: #56b6c2; }
